---
layout: layout.liquid
title: Listing
lang: en
---

<h1>Listing!</h1>
<div id="listing">
{% for site in sites %}
    <div class="box">
        {% if site.icon %}
            <img class="icon bounce" alt="{{ site.name }}" src="/img/icons/{{ site.icon }}"/>
        {% endif %}
        {% if site.button %}
            <div class="button">
                <img class="bounce" alt="{{ site.name | append: ' button' }}" src="/img/buttons/{{ site.button }}"/>
            </div>
        {% endif %}
        <h2>{{ site.name }}</h2>
        <p>
            {% if site.authorUrl %}
                <a href="{{ site.authorUrl }}">{{ site.author }}</a>
            {% else %}
                {{ site.author }}
            {% endif %}
        </p>
        <p><a href="{{ site.mainurl }}">Main page</a> / <a href="{{ site.ocurl }}">OC page</a></p>
        <p>{{ site.desc }}</p>
        {% if site.featured %}
            <div class="box">
                {% if site.featured.img %}<img class="icon bounce" alt="{{ site.featured.name }}" src="/img/ch/{{ site.featured.img }}"/>{% endif %}
                <h3>Featured character: <a href="{{ site.featured.url }}">{{ site.featured.name }}</a></h3>
                {% if site.featured.desc %}<p>{{ site.featured.desc }}</p>{% endif %}
            </div>
        {% endif %}
    </div>
{% endfor %}
</div>
