---
layout: layout.liquid
title: Listing
lang: en
---

<h1>Listing!</h1>
<p>Looking to implement tag filter in the future which should be easy since i already wrote the same code somewhere else</p>
<div id="listing">
{% for site in sites %}
    <div class="box">
        {% if site.icon %}
            <img class="icon bounce float-right" alt="{{ site.name }}" src="/img/icons/{{ site.icon }}"/>
        {% endif %}
        <h2>{{ site.name }}</h2>
        <h3 class="no-indent" style="font-weight: bold"><a href="{{ site.mainurl }}">Main page</a> | <a href="{{ site.ocurl }}">OC page</a></h3>
        <p class="no-indent">By {% if site.authorUrl %}<a href="{{ site.authorUrl }}">{{ site.author }}</a>{% else %}{{ site.author }}{% endif %}</p>
        {% if site.tags %}
            <div class="tags">
                {% for tag in site.tags %}
                    <div>{{ tag }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% if site.cw %}<p><span style="font-weight: bold;">Content warning:</span> {{ site.cw }}</p>{% endif %}
        <p>{{ site.desc }}</p>
        {% if site.featured %}
            <div class="box">
                {% if site.featured.img %}<img class="icon bounce float-left" alt="{{ site.featured.name }}" src="/img/ch/{{ site.featured.img }}"/>{% endif %}
                <h3>Featured character: <a href="{{ site.featured.url }}">{{ site.featured.name }}</a></h3>
                {% if site.featured.desc %}<p>{{ site.featured.desc }}</p>{% endif %}
            </div>
        {% endif %}
        {% if site.otherUrls %}
            {% for url in otherUrls %}
                {% if forLoop.index != 0 %} | {% endif %}<a href="url[1]">{{ url[0] }}</a>
            {% endfor %}
        {% endif %}
        {% if site.button %}
            <div class="button">
                <img class="bounce" alt="{{ site.name | append: ' button' }}" src="/img/buttons/{{ site.button }}"/>
            </div>
        {% endif %}
    </div>
{% endfor %}
</div>
