---
layout: layout.liquid
title: Listing
pagination:
  data: sites
  size: 10
permalink: "/page-{{ pagination.pageNumber | plus: 1 }}/"
---

<h1>Listing!</h1>
<div id="pagination-nav">
    {% for page in pagination.pages %}
        <a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>{{ forloop.index }}</a>
    {% endfor %}
</div>
<div id="listing">
    {% for site in pagination.items %}
        {% include 'sitebox', site: site %}
    {% endfor %}
</div>
<div id="pagination-nav">
    {% for page in pagination.pages %}
        <a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>{{ forloop.index }}</a>
    {% endfor %}
</div>