<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ desc }}">
    <meta name="author" content="Tofutush">
    <meta property="og:title" content="{% if page.url != '/' %}{{ title }} | {% endif %}OC Webring">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/icon.ico">
    <meta property="og:site_name" content="OC Webring">
    <meta property="og:description" content="{{ desc }}">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{% if page.url != '/' %}{{ title }} | {% endif %}OC Webring</title>
</head>

<body>
    <div id="wrapper">
        <div id="banner" class="box">
            <h1><a href="/">OC Webring</a></h1>
        <h2>{% if tiltText %}{{ tiltText }}{% else %}Crazy OC people assemble!{% endif %}</h2>
        </div>
        <div id="nav" class="nav box">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/listing/">Listing</a>
            <a href="/join/">Join!</a>
        </div>
        <div id="main" class="box">
            {{ content }}
        </div>
        <div id="footer" class="nav box">
            <a href="/sitemap/">Sitemap</a>
            <a href="/changelog/">Changelog</a>
            <a href="/docs/">Documentation</a>
        </div>
    </div>
</body>

</html>